#APANE{
    -fx-border-color: BLACK;
    -fx-border-width: 10;
    -fx-background-color: rgb(0, 166, 255)
}

#StartButton{
    -fx-border-color: BLACK;
    -fx-border-width: 1;
    -fx-background-color: rgb(0, 166, 255)
}