@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .bg-size-200 {
    background-size: 200% 200%;
  }

  .animate-gradient-x {
    animation: gradient 10s ease infinite;
  }
  .hover-glow {
    background: radial-gradient(circle, rgba(255,255,255,0.3) 0%, transparent 70%);
    pointer-events: none;
    transition: top 0.1s ease, left 0.1s ease;
  }

  @keyframes gradient {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

